    @import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');

    * {
      font-family: 'Afacad', sans-serif;
    }

    .clip-hex {
      clip-path: polygon(50% 0%,
          /* Top */
          93% 25%,
          /* Top right */
          93% 75%,
          /* Bottom right */
          50% 100%,
          /* Bottom */
          7% 75%,
          /* Bottom left */
          7% 25%
          /* Top left */
        );
      border-radius: 8px;
      /* adjust for more/less molding */
    }

@import 'tailwindcss';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

    .no-scrollbar::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari */
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }


    @keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 2s linear infinite; 
}